
*.class
bin/*
bin/SignView.apk
gen/*
*.dex

*.txt

bin/dexedLibs/actionbarsherlock-31e07adaca04154c1584734ac27038e0.jar

bin/dexedLibs/android-support-v4-47729a7c0e3fb5c48e8565c6c5d5f0e5.jar

bin/jarlist.cache
